<form class="note__popup popup">
    <input type="text" id="title" placeholder="Title" maxlength="40" />
    <div id="content" data-text="Take a note..." contenteditable></div>

    <div class="note__options">
        <button class="note__option_delete">
            <i class="bx bx-trash"></i>
        </button>
        <button class="note__option_close">
            <i class="bx bx-x"></i>
        </button>
    </div>
</form>