<div class="new_note popup">
    <input type="text" id="title" placeholder="Title" maxlength="40" />
    <textarea id="content" placeholder="Take a note..."></textarea>

    <div class="note__options">
        <button class="note__option_delete">
            <i class="bx bx-trash"></i>
        </button>
        <button class="note__option_close">
            <i class="bx bx-x"></i>
        </button>
    </div>
</div>