<div class="searchBoxWrapper">
    <form action="#" class="searchBox">
        <input type="text" placeholder="Search..." />
        <button type="submit" class="bx bx-search"></button>
        <select name="search_filter" id="search_filter" class="search_filter">
            <option value="filter" disabled selected>Filter</option>
            <option value="today">Today</option>
            <option value="this_week">This Week</option>
            <option value="this_month">This Month</option>
            <option value="this_year">This Year</option>
        </select>
    </form>
</div>