<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sign up - Notebook</title>
    <link rel="shortcut icon" href="assets/images/logo.jpg">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/css/login.css">

    <!-- Font Awesome CDN  -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"> -->
</head>
<body>
    
    <div class="container">
        <div class="successMsg">Registration successful! Redirecting to login page...</div>

        <a href="" class="google_login">
            <img src="https://img.icons8.com/color/48/000000/google-logo.png"/>
            <span>Sign up with Google</span>
        </a>
        Or <br>
        <form action="#" class="signup__form" id="signup__form">
            <label for="name">Name</label>
            <div class="two_fields">
                <div class="input_group ">
                    <input type="firstname" name="firstname" id="firstname" placeholder="First Name">
                </div>
                <div class="input_group ">
                    <input type="lastname" name="lastname" id="lastname" placeholder="Last Name">
                </div>
            </div>
            <div class="input_group nameField">
                <p class="error_msg"></p>
            </div>
            <div class="input_group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <p class="error_msg"></p>
            </div>
            <div class="input_group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password">
                <p class="error_msg"></p>
            </div>
            <div class="input_group">
                <label for="password2">Confirm Password</label>
                <input type="password" name="password2" id="password2" placeholder="Enter your password">
                <p class="error_msg"></p>
            </div>
            <div class="input_group">
                <button type="submit" class="submit" id="submit">Sign up</button>
            </div>
            <div class="input_group">
                <p class="signup">
                    Already have an account? <a href="/login">Log in</a>
                </p>
            </div>
        </form>

    </div>

    <!-- Scripts -->
    <script src="/assets/js/signupValidation.js"></script>

</body>
</html>